@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    height: 100%;
}

@layer utilities {
    .text-outline {
        text-shadow: -1px -1px 0 #1a1a1a, 1px -1px 0 #1a1a1a, -1px 1px 0 #1a1a1a, 1px 1px 0 #1a1a1a;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.responsive-text {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(0);
    }
}

.animate-bounce {
    animation: bounce 1s ;
}

@keyframes genie {
    0% {
        transform: scaleY(0.05) translateY(-50%);
        opacity: 0;
    }
    50% {
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
}

@keyframes genie-reverse {
    0% {
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scaleY(0.05) translateY(-50%);
        opacity: 0;
    }
}

.animate-genie {
    animation: genie 0.5s ease-out forwards;
}

.animate-genie-exit {
    animation: genie-reverse 0.5s ease-out forwards;
}

.modal-background {
    pointer-events: none; /* Disable interaction with the background */
}

.modal-content {
    pointer-events: auto; /* Enable interaction with modal content */
}